
.container {
    padding: 18px;
    height: 620px;
    overflow: hidden;
}

.mat-tree {
    background: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mat-tree-node {
    background-color: #4F4F4F;
    border-radius: 4px;
    min-height: 28px;
    color: #F2F2F2;
    position: relative;
    height: 28px;
    max-width: 575px;
    margin-bottom: 3px;
}

.mat-tree-node .button {
    background-color: #4F4F4F;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-transform: capitalize;
}
ul {
    padding-left: 30px;
}

/* rightside */
.checkbox-rightside {
    color: #F2F2F2;
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-rightside {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 30px;
}

/* border */
.tree-container {
  position: relative;
}
ul.tree-nested-node::before {
  content: "";
  position: absolute;
  top: 28px;
  bottom: 15px;
  left: 19px;
  display: block;
  width: 0;
  border-left: 2px solid #fff;
}
ul.tree-nested-node:last-child {
  border: none;
}
.mat-tree-node:after {
  position: absolute;
  top: 0;
  left: -11px;
  display: block;
  height: 12px;
  width: 9px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  content: '';
}
ul.tree-nested-node:nth-child() { 
border: 0; 
}

#c2 {
  position: absolute;
  top: 10px;
  left: 30px
}
