
.container {
    padding: 18px;
    height: 620px;
    overflow: hidden;
}

.mat-tree {
    background: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mat-tree-node {
    background-color: #4F4F4F;
    border-radius: 4px;
    min-height: 28px;
    color: #F2F2F2;
    position: relative;
    height: 28px;
    max-width: 575px;
    margin-bottom: 3px;
}

.mat-tree-node .button {
    background-color: #4F4F4F;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-transform: capitalize;
}

/* rightside */
.checkbox-rightside {
    color: #F2F2F2;
    position: absolute;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-rightside {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 30px;
}

/*

.tree-line-vertical {
    background-color: #fff;
    transform: rotate(90deg);
    width: 29px; 
    height: 2px;
    color: #fff;
    border: 0;

    position: absolute;
    left: -35px;
    top: -7.5px;
}

.tree-line-horizontal {
    background-color: #fff;
    width: 20px; 
    height: 2px;
    color: #fff;
    border: 0;

    position: absolute;
    left: -20px;
    top: 6px;

}

*/


/* border */
  
li.tree-container {
    border-bottom: 0;
}

ul { 
    padding-left: 60px; 
}
  
li { 
    padding-left: 20px;  
    border: 2px solid #fff;
    border-width: 0 0 1px 1px; 
    position: relative;
    top: -14px; 
}

li.mat-tree-node,
li div { 
    margin: 0;
    position: relative;
    top: 14px; 
}

li ul {
    border-top: 2px solid #fff;

    margin-left: -20px;
    padding-left: 39px;
}
  
.mat-nested-tree-node:last-child ul {
    border-left: 2px solid white;
    margin-left: -21px;
}

.mat-icon-button {
    z-index: 100;
}